# Files from build
**/*.o
**/*.s
src/.depend

# Files from Qt
*.pro
*.pro.user

# Files from CLion
.idea/*

# Built binary
src/pikafish*
src/-lstdc++.res

# Neural network for the NNUE evaluation
**/*.nnue